[submodule "vgui.js"]
	path = old-proof-of-concept/app/scripts/libs/vgui.js
	url = https://github.com/kangax/fabric.js.git
[submodule "fabric.js"]
	path = old-proof-of-concept/app/scripts/libs/fabric.js
	url = https://github.com/forivall/vgui.js.git
