[submodule "app/scripts/libs/vgui.js"]
	path = app/scripts/libs/vgui.js
	url = ../vgui.js/.git
[submodule "app/scripts/libs/fabric.js"]
	path = app/scripts/libs/fabric.js
	url = ../git-repos/fabric.js/.git
