html, body
  height: 100%
  width: 100%
  margin: 0

body
  display: flex
  flex-direction: column

.youtube-video
  flex-grow: 1

header
  background-color: #666666
  color: #EEEEEE
  font-family: "Comic Neue"

  padding: 0 1em

  a
    color: #FFED97
    &:visited
      color: #FFDA93


  .banner
    text-align: center
    font-weight: normal

  .banner-subtitle
    text-align: center
