doctype html
head
  link(rel="stylesheet",href="index.css",type="text/css")
  link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
body
  .content
    .body
    .back.wheel
    .front.wheel
